:root {
    --background: #fffbf7;
    --color: #1b1b1b;
    --green: #9bab94;
    --darkgreen: #5b6d4e;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: #101010;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: "GalledStars";
    src: url("../assets/fonts/Galled Stars/GalledsStars-Regular.woff2") format("woff2"),
    url("../assets/fonts/Galled Stars/GalledsStars-Regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Calibri Light", sans-serif;
}

body {
    color: var(--color);
    background: var(--background);
    margin: 0;
    width: 100%;
    transition: 0.5s background ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    animation: fadeIn 1s;
}

h1 {
    padding-left: 120px;
    margin-top: 30px;
    color: var(--darkgreen);
    font-size: 28px;
    font-family: GalledStars, sans-serif;
    font-weight: bolder;
}

p {
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
}

b {
    color: var(--color);
}

.btn-primary {
    color: var(--darkgreen);
    background-color: var(--darkgreen);
    border-color: var(--darkgreen);
}

html {
    font-size: 20px;
    background-color: var(--background);
    position: relative;
    min-height: 100%;
}

#umbrellakitty {
    display: block;
    margin: 0 auto;
}

.kitty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 350px;
    background-color: var(--green);
    color: white;
    font-size: 16px;
}

footer h1 {
    color: white;
    padding-left: 150px;
    padding-top: 30px;
}

footer ul {
    padding-left: 180px;
    text-decoration: none;
    width: 300px;
    padding-bottom: 100px;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}

td {
    border: 1px solid var(--green);
    text-align: center;
    vertical-align: top;
    padding: 8px;
    max-width: 300px;
    max-height: 60px;
    line-height: 1.2;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li {
    list-style-type: none;
    text-align: left;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
}

label {
    margin-top: 10px;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="role"],
input[type="submit"],
select {
    width: 100%;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: var(--darkgreen);
    margin: auto;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    height: 32px;
    width: 150px;
    font-size: 16px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 950px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    h1, h3, p, li {
        padding: 0;
        transform: scale(0.8);
    }

    p {
        margin-top: 0;
    }

    h1 {
        margin-bottom: 0;
    }
}